obj/CoffeeShop.API.csproj.nuget.cache
obj/CoffeeShop.API.csproj.nuget.dgspec.json
obj/CoffeeShop.API.csproj.nuget.g.props
obj/CoffeeShop.API.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.1/CoffeeShop.API
obj/Debug/netcoreapp3.1/CoffeeShop.API.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/CoffeeShop.API.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/CoffeeShop.API.assets.cache
obj/Debug/netcoreapp3.1/CoffeeShop.API.csproj.CopyComplete
obj/Debug/netcoreapp3.1/CoffeeShop.API.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/CoffeeShop.API.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/CoffeeShop.API.dll
obj/Debug/netcoreapp3.1/CoffeeShop.API.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/CoffeeShop.API.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/netcoreapp3.1/CoffeeShop.API.pdb
obj/Debug/netcoreapp3.1/CoffeeShop.API.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/staticwebassets/CoffeeShop.API.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/CoffeeShop.API.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/AutoMapper.dll
bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
bin/Debug/netcoreapp3.1/CoffeeShop.API
bin/Debug/netcoreapp3.1/CoffeeShop.API.deps.json
bin/Debug/netcoreapp3.1/CoffeeShop.API.dll
bin/Debug/netcoreapp3.1/CoffeeShop.API.pdb
bin/Debug/netcoreapp3.1/CoffeeShop.API.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/CoffeeShop.API.runtimeconfig.json
bin/Debug/netcoreapp3.1/JWT.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
.vscode/launch.json
.vscode/tasks.json
